.fly-file__invisible {
  display: none;
}

.fly-uploader-imagelist {
  display: flex;
}

.fly-uploader--tip {
  font-size: 12px;
  color: #606266;
  margin-top: 7px;
}

.fly-uploader--text {
  color: #606266;
  font-size: 14px;
  text-align: center;

  a {
    color: #409eff;
    font-style: normal;
  }
}

// 预览图片列表
.preview-images-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    width: 148px;
    height: 148px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;

    &:hover {
      .preview-delete-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        opacity: 1;
        padding: 5px;
        img {
          width: 100%;
          height: 100%;
          margin: 0 5px;
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }

    // display: flex;
    // justify-content:center;
    // align-items: center;
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }

  .preview-delete-icon {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }
}

.fly-uplouder-wrapper {
  min-width: 148px;
  height: 148px;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted #ccc;
  font-size: 28px;
  cursor: pointer;
}
